<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- configure debug level packages here -->
    <logger name="com.adamk33n3r.runelite.watchdog" level="DEBUG" />

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>